footer {
    bottom: 0;
    width: 100%;
    font-size: 0.75em;
    background: #767676;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .row:nth-child(2n) {
    position: relative;
    top: -30px;
}

footer a {
    color: inherit;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

footer ul li {
    margin: 5px 0;
}

footer .h1 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.56em;
    letter-spacing: normal;
}

footer .more:after {
    content: "  ›››";
}

footer .social {
    margin-top: 1em;
}

footer .overdans {
    text-align: right;
}

@media (max-width: 767px) {
    footer .overdans {
        text-align: left;
        padding-top: 30px;
    }
}

footer .overdans .driven-by-data {
    font-style: italic;
}

footer .overdans img {
    margin-left: 20px;
}

footer .version {
    text-align: right;
    margin-top: 30px;
}

footer .easy-Certificering-link {
    margin-top: 30px;
    text-align: center;
}

footer .easy-Certificering-link a:hover {
    text-decoration: none;
}
