#header-logos {
    align-items: flex-end;
}

@media (max-width: 1440px) {
    #easy-logo {
        text-align: center;
    }
}

@media (max-width: 767px) {
    #easy-logo {
        text-align: right;
    }
}

.admin-nav {
    font-size: 0.87em;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
}

@media (max-width: 992px) {
    .admin-nav {
        font-size: 1em;
    }
}
